DATABASE_URL="postgresql://neondb_owner:npg_3yQ7WUhwKmfJ@ep-quiet-heart-aii01bl6-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="wPYZjOLnxDzlNnd5ph2M7O26fJO9aPrnL/XbiFz4zUc="
NEXTAUTH_URL="scentra-zeta.vercel.app"
GITHUB_ID=""
GITHUB_SECRET=""
WEATHER_API_KEY=""
WEATHER_PROVIDER="openweather"
